body {
    background-image: url("background.svg");

    background-size: cover;

            background-repeat: no-repeat;
            background-attachment: fixed;
        width: 100%;
}

.content {

    background-image: url("Rectangle 2.svg");
    background-size: cover;
    
    width: 62%;
 margin-left: 19%;
 
 
}
.groups {
    color:darkgrey ;
    font-size: 150%;
    margin-left: 5%;
}
.admin-b {

    color: rgb(158, 154, 95);
    font-size: 200%;
    margin-left: 35%;
}

.moder-b {

    color:rgb(158, 154, 95);
    font-size: 150%;
    margin-left: 35%;
}

.admins {

    color:darkgrey ;
    font-size: 150%;
    margin-left: 6%;
}

.admin-avatar {

    margin-left: 35%;
}

.admin-name {

    color:rgb(221, 0, 0) ;
    font-size: 150%;
    margin-left: 40%;
    text-decoration: none;
}

.admin-name:hover {

color: gold;
}

.linia_1 {

    width: 90%;
}

.moders {

    color:darkgrey ;
    font-size: 150%;
    margin-left: 6%;
}

.moder {

    color:darkgrey ;
    font-size: 150%;
    margin-left: 35%;
}

.moder-avatar {

    margin-left: 37%;
    width: 200px;
    height: 200px;
}

.moder-name {

    color:rgb(44, 223, 255) ;
    font-size: 150%;
    margin-left: 39%;
    text-decoration: none;
}
.moder-name:hover {

    color: gold;
}