.content {
    margin-top: -3.4%;
}

.dari {
    margin-left: 1%;
    font-size: 50px;
    color: rgb(209, 209, 209);
}
.dari-p {
    color: rgb(209, 209, 209);
    margin-left: 1%;
    font-size: 20px;
}
.dari-table {
    margin-left: 2%;
    color: rgb(209, 209, 209);
    background-image: url("Rectangle 2.svg");
}
.dar-td1 {
    font-size: 30px;
    text-align: center;
}
.dari-img {
    margin-left: 20%;
    margin-top: 5%;
}
.dar-td2 {
    width: 140px;
}
.td-info {
    font-size: 20px;
}