
.ds3_menu {
    margin-left: 5%;
    display:inline-block;
    background-color:unset;
    position:relative;
    margin-top: 5%;
}



.ds3_menu a {

    color: #fff;
    text-decoration: none;
    display: block;
    padding: 4px 5px;
    width: 150px;
    background-color: unset;

}

.ds3_menu li {

    list-style: none;
    
}


.ds3_menu a:hover {

    color: goldenrod;
    background-color: #4A4A4A;
    
}

.ds3_menu ul {
list-style: none;
position:absolute;
left: 30%;
display: none;
padding: 0;
}




.ds3_menu li:hover > ul {

    display: block;

}

.ds3_menu ul ul {

    display: none;
    position: absolute;
    top: 7%;
    left: 100%;
}