
.help_menu {
    font-size: 16px;
    margin-left: 1%;
    display:inline-block;
    background-color:unset;
    position:relative;
}

.help_menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    width: 150px;
    background-color: unset;

}

.help_menu li {
    list-style: none;
}


.help_menu a:hover {
    color: goldenrod;
    background-color: #4a4a4a;
}

.help_menu ul {
list-style: none;
position:absolute;
left: 30%;
display: none;
padding: 0;
}

.help_menu li:hover > ul {
    display: block;
}

.help_menu ul ul {
    display: none;
    position: absolute;
    top: 10%;
    left: 100%;
}