html{
    min-width: 320px;
    background-color: aliceblue;
    font-family: "Play";
}

nav{
    display: flex;
    justify-content: center;
    font-size: 50px;
    gap: 100px;
    
}

nav a{
    background-color: rgba(196, 196, 196, 1);
    color: black;
    min-width: 100px;
    height: 70px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    
    hover:nav a{
        cursor: pointer;}
}

nav a p{
    margin: 0px 15px 10px 15px;
}



.banner{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.s{
    margin-top: 150px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span{
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button{
    background-color: rgba(196, 196, 196, 1);
    color: black;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    font-size: 25px;
    
    hover:nav a{
        cursor: pointer;}
}
 .form-wrapper{
    background-color: #353535;
    color: aliceblue;
    font-size: 30px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 68px;
    



 }
#order{
display: flex;
gap: 55px;
align-items: center;

}
input{
    height: 40px;
    width: 272px;
    border-radius:15px ;
    border: 2px solid #ffff;
    background-color: inherit;
    color: #ffff;
    font-size: 24px;
}
.inputs{
    display: flex;
    gap: 98px;
    align-items: center;
}
button{
    width: 135px;
    height: 40px;
    font-size: 20px;
    background-color:#D9D9D9 ;
    border-radius: 15px;
    border: 1px solid #9999;
    color:black
    
}


@media (min-width:320px) and (max-width:440px){
    nav{
        font-size: 25px;
    }
    .logogo{
        min-width: 200px;
    }
    .mobile_nav{
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .mobile_nav a{
        background-color: rgb(73, 73, 73);
        color:aliceblue;
        text-align: center;
        min-width: 300px;
        margin-top: 0px;
    }

    .mobile_nav a p{
        margin-top: 20px;
    }

    .banner{
        margin-top: 90px;
        display: flex;
        justify-content: center;
        width: 300px;
    }
}

